* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #161623;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        position: relative;

        .card {
            position: relative;
            background: #232323;
            width: 320px;
            height: 450px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #B6FCFD;
                clip-path: circle(150px at 80% 20%);
                transition: 0.5s ease-in-out;
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -ms-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
            }

            &:hover {
                .imgbox {
                    top: 0;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                }

                .contentBx {
                    height: 200px;

                    .size {
                        opacity: 1;
                        visibility: visible;
                        transition-delay: 0.5s;
                    }

                    .color {
                        opacity: 1;
                        visibility: visible;
                        transition-delay: 0.6s;
                    }

                    a {
                        opacity: 1;
                        transform: translateY(0);
                        -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        -ms-transform: translateY(0);
                        -o-transform: translateY(0);
                        transition-delay: 0.75s;
                    }
                }

                &::before {
                    clip-path: circle(300px at 80% -20%);
                }
            }

            &::after {
                content: "Nike";
                position: absolute;
                top: 30%;
                left: -20%;
                font-size: 12em;
                color: rgb(255, 255, 255, 0.02);
                font-weight: 800;
                font-style: italic;
                z-index: 1;
            }

            .imgbox {
                //background: red;
                position: absolute;
                top: 50%;
                width: 100%;
                height: 220px;
                z-index: 1000;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 340px;
                    // background: blue;
                    transform: translate(-50%, -50%) rotate(-10deg);
                    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
                    -moz-transform: translate(-50%, -50%) rotate(-10deg);
                    -ms-transform: translate(-50%, -50%) rotate(-10deg);
                    -o-transform: translate(-50%, -50%) rotate(-10deg);
                }
            }

            .contentBx {
                // background: red;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                text-align: center;
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                z-index: 10;

                h2 {
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: #fff;
                }

                .size,
                .color {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 20px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;

                    h3,
                    h3 {
                        color: #fff;
                        font-weight: 300;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin-right: 10px;
                    }
                }

                .size {
                    span {
                        width: 26px;
                        height: 26px;
                        text-align: center;
                        line-height: 24px;
                        font-size: 14px;
                        display: inline-block;
                        color: #111;
                        background: #fff;
                        border-radius: 4px;
                        margin: 0 5px;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;
                        transition: 0.5s;
                        -webkit-transition: 0.5s;
                        -moz-transition: 0.5s;
                        -ms-transition: 0.5s;
                        -o-transition: 0.5s;
                        cursor: pointer;

                        &:hover {
                            color: #111;
                            background: #dc7928;
                        }
                    }
                }

                .color {
                    span {
                        width: 20px;
                        height: 20px;
                        background: #f00;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        margin: 0 5px;
                        cursor: pointer;

                        &:nth-child(2) {
                            background: #9bdc28;
                        }

                        &:nth-child(3) {
                            background: #03a9f4;
                        }

                        &:nth-child(4) {
                            background: #e91e63;
                        }
                    }
                }

                a {
                    display: inline-block;
                    padding: 10px 30px;
                    background: #B6FCFD;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    margin-top: 10px;
                    text-decoration: none;
                    font-weight: 600;
                    color: #131313;
                    transform: translateY(50px);
                    -webkit-transform: translateY(50px);
                    -moz-transform: translateY(50px);
                    -ms-transform: translateY(50px);
                    -o-transform: translateY(50px);
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    opacity: 0;
                }
            }
        }
    }
}